.about-us {
  padding: rem(83 0 194);
  @media (max-width: 540px) {
    padding: rem(54 0 100);
  }
  &_resto {
    background: url('../img/resto/about-us-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: rem(64 0);
  }
}

.about-us__title {
  margin-bottom: rem(70);
  @media (max-width: 540px) {
    margin-bottom: rem(38);
  }
  &_small-margin-bottom {
    margin-bottom: rem(42);
  }
}

.about-us__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(81);
  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }
  &_resto {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    margin-bottom: 0;
    padding: rem(55 70 59);
    @media (max-width: 540px) {
      padding: {
        left: rem(40);
        right: rem(40);
      }
    }
  }
}

.about-us__img {
  flex-basis: 48.7%;
  @media (max-width: 540px) {
    margin-bottom: rem(20);
  }
}

.about-us__descr {
  flex-basis: 43.5%;
  margin-top: rem(-14);
  p {
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
  }
  @media (max-width: 540px) {
    margin-top: 0;
  }
  &_resto {
    p {
      &:not(:last-child) {
        margin-bottom: rem(18);
      }
    }
  }
}
