$button-colors: ();

.button {
  text-transform: uppercase;
  color: #fff;
  padding: rem(16 0);
  text-align: center;
  border: 3px solid transparent;
  transition: all 250ms;
  min-width: rem(224);
  max-width: rem(224);
  letter-spacing: 0.35px;
  font-weight: 700;
  &_black-bordered {
    color: $black;
    &:hover, &:focus {
      color: $gold;
    }
  }
  &_black-bg {
    display: block;
    color: $gold;
    margin: 0 auto;
    padding: rem(14 0 13);
    &:hover, &:focus {
      color: $black;
    }
  }
  &_white-bg {
    color: $black;
    &_gray-color {
      color: $dark-gray;
    }
  }
  &_big {
    max-width: none;
    min-width: 0;
    padding: rem(27 0);
    &_resto {
      font-family: $resto-main-font;
      border-radius: 6px;
      letter-spacing: 0.38px;
    }
  }
  &_white-color {
    &:hover, &:focus {
      color: #fff;
    }
  }
  &_dark-gray-bg {
    &:hover, &:focus {
      color: $dark-gray;
    }
  }
  &_bright-green-bg {
    &:hover, &:focus {
      color: $bright-green;
    }
  }
  &_white-bordered {
    color: $dark-gray;
  }
}

.button_resto {
  border-radius: 6px;
  font: {
    family: $resto-main-font;
    weight: 400;
  }
  padding: rem(14 22);
  min-width: 0;
  max-width: none;
  &_weight-700 {
    font-weight: 700;
  }
}

$button-colors: (
  gold: $gold,
  green: $green,
  white: #fff,
  black: $black,
  bright-green: $bright-green,
  dark-gray: $dark-gray
);

@each $name, $color in $button-colors {
  .button_#{$name}-bg {
    background: $color;
    &:hover, &:focus {
      background: transparent;
      border-color: $color;
    }
  }
  .button_#{$name}-bordered {
    background: transparent;
    border: 3px solid $color;
    &:hover, &:focus {
      background: $color;
    }
  }
}
