.coffee {
  background: url('../img/manufactura/coffee-bg.png') no-repeat center center;
  background-size: cover;
  padding: rem(80) 0;
  position: relative;
}

.coffee__title {
}

.coffee__img {
  position: absolute;
  &_left {
    left: rem(-70);
    bottom: 0;
  }
  &_right {
    top: 0;
    right: 0;

  }
}

.coffee__list {
  border: 3px solid $black;
  margin-bottom: rem(58);
}

.coffee__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(28);
  &:not(:last-child) {
    border-bottom: 1px solid $black;
  }
}

.coffee__name {
  width: 100%;
  max-width: rem(320);
  font: {
    weight: 700;
  }
}

.coffee__country,
.coffee__weight {
  font-weight: 400;
}

.coffee__price {
  font-weight: 700;
}
