.first-slide {
  padding: rem(187 0 227);
  position: relative;
  background: transparent;
  min-height: rem(571);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &_manufactura {
    // background: url('../img/manufactura/first-slide-bg.png') no-repeat center center;
    // background-size: cover;
  }
  &_porto {
    background-image: url('../img/porto/porto-bg.jpg');
    padding: rem(180 0 140);
    @media (max-width: 540px) {
      padding-bottom: rem(220);
    }
  }
  &_resto {
    background-image: url('../img/resto/resto-bg.jpg');
    padding: rem(157 0 135);
    @media (max-width: 540px) {
      padding-bottom: rem(230);
    }
  }
}

.first-slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first-slide__title {
  margin-bottom: rem(43);
  &_porto {
    font-size: rem(39);
    margin-bottom: rem(22);
  }
  &_resto {
    font: {
      family: $resto-main-font;
      weight: 700;
    }
    margin-bottom: rem(18);
  }
}

.first-slide__subtitle {
  font: {
    size: rem(24);
    weight: 700;
  }
  margin-bottom: rem(88);
  color: #fff;
  text-align: center;
  &_resto {
    font: {
      family: $resto-main-font;
      size: rem(30);
      weight: 400;
    }
    text-transform: uppercase;
    margin-bottom: rem(92);
  }
}

.first-slide__btn-container {
  .button {
    &:not(:last-child) {
      margin-right: rem(23);
      @media (max-width: 540px) {
        margin: {
          right: 0;
          bottom: rem(23);
        }
      }
    }
    @media (max-width: 540px) {
      display: block;
    }
  }
}
