.first-slide {
  padding: rem(187 0 227);
  position: relative;
  background: transparent;
  min-height: rem(571);
  &_manufactura {
    // background: url('../img/manufactura/first-slide-bg.png') no-repeat center center;
    // background-size: cover;
  }
}

.first-slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first-slide__title {
  margin-bottom: rem(43);
}

.first-slide__btn-container {
  .button {
    &:first-child {
      margin-right: rem(23);
    }
  }
}
