$link-colors: ();

.footer {
  background: $black;
  color: $gray;
  padding: rem(34 0 35);
  &_white-bg {
    background: #fff;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.footer__col {
  flex: 0 1 33.333%;
  &_text-center {
    text-align: center;
  }
  &_text-right {
    text-align: right;
  }
  @media (max-width: 600px) {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
}

.footer__link {
  border-bottom: 1px solid $gray;
  white-space: nowrap;
  &:hover, &:focus {
    border-bottom-color: transparent;
  }
}

$link-colors: (
  gold: $gold,
  green: $green,
  alt-green: #76a81b,
  bright-green: $bright-green-2
);

@each $name, $color in $link-colors {
  .footer__link_#{$name} {
    color: $color;
    border-bottom-color: $color;
  }
}
