.header {
  padding: rem(42 0 31);
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100%;
  &_porto {
    padding: rem(27 0 27);
  }
  &_resto {
    padding: rem(27 0 24);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  max-width: rem(450);
  @media (max-width: 1280px) {
    max-width: rem(350);
  }
}
