.landing-nav {
  background: rgba(23, 23, 23, 0.3);
  padding: 3px;
  position: absolute;
  bottom: rem(26);
  right: rem(278);
}

.landing-nav__block {
  background: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  &_active {
    background: transparent;
  }
  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

.landing-nav__link {
  display: block;
  color: $black;
  text-transform: uppercase;
  padding: rem(15 10);
  font: {
    size: 11px;
    weight: 400;
  }
  letter-spacing: 0.28px;
  &_active {
    color: #fff;
  }
}
