.landing-nav {
  background: rgba(23, 23, 23, 0.3);
  padding: 3px;
  position: absolute;
  top: calc(100% + 24px);
  left: calc(100% - 22px);
  min-height: rem(180);
  @media (max-width: 1400px) {
    left: auto;
    right: rem(20);
  }
  @media (max-width: 1080px) {
    top: 100%;
  }
  @media (max-width: 768px) {
    top: calc(100% + 15px);
    right: 5px;
  }
  // @media (max-width: 540px) {
  //   top: calc(100% + 15px);
  //   right: 5px;
  // }
  &_porto {
    top: calc(100% - 55px);
    @media (max-width: 900px) {
      top: calc(100% - 70px);
    }
    @media (max-width: 540px) {
      top: calc(100% + 10px);
    }
  }
  &_resto {
    top: calc(100% - 55px);
    @media (max-width: 768px) {
      top: calc(100% - 30px);
    }
    @media (max-width: 540px) {
      top: calc(100% + 10px);
    }
  }
}

.landing-nav__block {
  background: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  &_active {
    background: transparent;
  }
  &:not(:last-child) {
    margin-bottom: 3px;
    // @media (max-width: 540px) {
    //   margin-bottom: 0;
    // }
  }
}

.landing-nav__link {
  display: block;
  color: $black;
  text-transform: uppercase;
  padding: rem(11 8);
  font: {
    size: 11px;
    weight: 400;
  }
  line-height: 1.4;
  letter-spacing: 0.28px;
  @media (max-width: 768px) {
    font-size: 9px;
    padding: rem(8 4);
  }
  &_active {
    color: #fff;
  }
}
