.modal {
  padding: rem(59 45 45);
  max-width: rem(572);
  a.close-modal {
  display: none;
  }
}

.modal__title {
  text-align: left;
  margin-bottom: rem(31);
  .smaller {
    font-size: rem(24);
  }
}

.modal-close {
  top: rem(26);
  right: rem(26);
  position: absolute;
}
