.news {
  background: url('../img/manufactura/coffee-bg.png') no-repeat center center;
  background-size: cover;
  padding: rem(74) 0 rem(148);
  @media (max-width: 540px) {
    padding: rem(54 0 100);
  }
  &_porto {
    background-image: url('../img/porto/news-bg.jpg');
    padding-bottom: rem(170);
  }
  &_resto {
    background-image: none;
    background-color: $bright-green-2;
  }
}

.news__slider {
  .slick-track {
    display: flex;
  }
}

.slick-initialized {
  .news__block {
    &.slick-slide {
      margin-right: rem(30);
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.news__main-title {
  margin-bottom: rem(38);
}

.news__block {
  background: url('../img/manufactura/slide-bg.png') no-repeat center center;
  background-size: cover;
  padding: rem(20 129 30 28);
  max-width: rem(570);
  position: relative;
  z-index: 3;
  &:not(:last-child) {
    @media (max-width: 700px) {
      margin-right: 0;
    }
  }
  @media (max-width: 1200px) {
    // max-width: rem(450);
    // padding-right: rem(80);
  }
  @media (max-width: 1080px) {
    max-width: rem(570);
    padding-right: rem(129);
  }
  @media (max-width: 910px) {
    max-width: rem(470);
    padding-right: rem(80);
  }
  &_small {
    background: none;
    justify-content: flex-start;
    background-color: #fff;
    padding: 0;
    max-width: rem(270);
    @media (max-width: 790px) {
      max-width: rem(470);
    }
  }
  &_with-gradient {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.49), transparent);
    }
  }
}

.news__title {
  letter-spacing: 0.63px;
  &_black-color {
    color: $black;
  }
  &_small-margin-bottom {
    margin-bottom: rem(18);
  }
}

.news__date {
  font: {
    size: rem(14);
    weight: 700;
  }
  margin-bottom: rem(212);
  &_small-margin-bottom {
    margin-bottom: rem(10);
  }
  &_white-color {
    color: #fff;
  }
}

.news__descr {
  margin-bottom: rem(26);
  &_white-color {
    color: #fff;
  }
}

.news__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(0 20 30 30);
  &_padding-0 {
    padding: 0;
  }
}

.news__button {
  display: inline-block;
  max-width: none;
  min-width: 0;
  line-height: 1;
  padding: rem(11 11 9);
  font-size: rem(14);
  letter-spacing: 0.35px;
}

.news__img {
  max-width: 100%;
  max-height: rem(183);
  margin-bottom: rem(26);
  overflow: hidden;
  @media (max-width: 700px) {
    max-height: rem(300);
  }
  @media (max-width: 540px) {
    max-height: rem(500);
    img {
      width: 100%;
    }
  }
}

.news__content {
  &_flex {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
