.reviews {
  background: #fff;
  padding: rem(87) 0 rem(92);
  &_porto {
    padding: rem(75 0 87);
  }
  &_resto {
    padding: rem(96 0 97);
  }
  @media (max-width: 540px) {
    padding: rem(54 0 79);
  }
}

.reviews__title {
  margin-bottom: rem(39);
  &_porto {
    margin-bottom: rem(55);
  }
  &_alt-font {
    .title__content {
      font: {
        family: $resto-main-font;
        weight: 700;
      }
    }
  }
}

.reviews__container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  @media (max-width: 540px) {
    flex-wrap: wrap;
  }
}

.reviews__photo {
  max-width: rem(300);
  min-width: rem(300);
  max-height: rem(320);
  margin-right: rem(43);
  img {
    object-fit: cover;
  }
  @media (max-width: 540px) {
    margin: {
      right: 0;
      bottom: rem(20);
    }
  }
}

.reviews__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__author-name {
  font: {
    size: rem(20);
    weight: 700;
  }
  margin-right: rem(15);
  &_resto-font {
    font-family: $resto-main-font;
  }
}

.reviews__author-link {
  color: $orange;
  border-bottom: 1px solid $orange;
  font: {
    family: $main-font;
    size: rem(16);
    weight: 400;
  }
  &:hover {
    border-color: transparent;
  }
  &_green {
    color: $green;
    border-bottom-color: $green;
  }
  &_bright-green {
    color: $bright-green;
    border-bottom-color: $bright-green;
  }
  &_resto-font {
    font-family: $resto-main-font;
  }
}

.reviews__paragraph {
  &:last-child {
    margin-bottom: rem(22);
  }
}
