%icons-slick {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 100% 100%;
}

.slick-prev {
  font-size: 0;
  left: 47%;
  position: relative;
  &:before {
    content: '';
    background: url('../img/manufactura/left-arrow.png') no-repeat;
    @extend %icons-slick;
  }
  &:after {
    content: '';
    position: absolute;
    right: rem(-20);
    top: 0;
    height: 100%;
    width: 3px;
    opacity: 0.43;
    background: $black;
  }
}

.slick-next {
  font-size: 0;
  right: 47%;
  &:before {
    content: '';
    background: url('../img/manufactura/right-arrow.png') no-repeat;
    @extend %icons-slick;
  }
}

.slick-arrow {
  width: rem(17);
  height: rem(28);
  bottom: rem(-82);
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.menu__slider {
  .slick-arrow {
    top: rem(32);
    bottom: auto;
    width: rem(12);
    height: rem(19);
  }
  .slick-prev {
    right: rem(67);
    left: auto;
    &:before {
      background: url('../img/white-left-arrow.png') no-repeat;
    }
    &:after {
      background: #fff;
      opacity: 0.1;
      z-index: 10;
      width: 2px;
      right: rem(-16);
    }
  }
  .slick-next {
    right: rem(27);
    &:before {
      background: url('../img/white-right-arrow.png') no-repeat;
    }
  }
}
