.team-slider {

}

.team-slider__slide {
  text-align: center;
}

.team-slider__img {
  margin-bottom: rem(29);
}

.team-slider__name {
  color: $black;
  margin-bottom: 0;
  letter-spacing: 0;
}

.team-slider__descr {
  font-size: rem(24);
}
