.title {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: rem(15);
    left: 0;
    height: 3px;
    width: 100%;
    background: $black;
    z-index: 1;
  }
}

.title__content {
  background: #fff;
  padding: 0 rem(60);
  position: relative;
  z-index: 3;
}
