.title {
  position: relative;
  height: 2.25rem;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 3px;
    width: 100%;
    background: $black;
    z-index: 1;
    @media (max-width: 768px) {
      height: 2px;
    }
    @media (max-width: 540px) {
      display: none;
    }
  }
  &_alt {
    .title__content {
      background: none;
      padding: 0;
    }
    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 3px;
      width: 39%;
      background: $bright-green;
      z-index: 1;
      @media (max-width: 768px) {
        height: 2px;
      }
      @media (max-width: 540px) {
        display: none;
      }
    }
    &:after {
      left: auto;
      right: 0;
    }
    &:before {
      left: 0;
    }
    &_black {
      &:after, &:before {
        background: $black;
        width: 26%;
        @media (max-width: 860px) {
          width: 24%;
        }
        @media (max-width: 768px) {
          width: 30%;
        }
        @media (max-width: 710px) {
          width: 28%;
        }
        @media (max-width: 650px) {
          width: 26%;
        }
        @media (max-width: 600px) {
          width: 24%;
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 1.875rem;
  }
  @media (max-width: 540px) {
    height: auto;
  }
  &_bright-green-line {
    &:after {
      background: $bright-green;
    }
  }
  &_big-height {
    height: rem(55);
    @media (max-width: 768px) {
      height: rem(44);
    }
    @media (max-width: 540px) {
      height: auto;
    }
  }
}

.title__content {
  background: #fff;
  padding: 0 rem(28);
  position: relative;
  z-index: 3;
  @media (max-width: 540px) {
    padding: 0;
  }
}
