@import "variables";
@import "util";

@font-face {
  font-family: "KelsonSansBold";
  src: url('../fonts/KelsonSans/KelsonSans-BoldRU.ttf'),
		   url('../fonts/KelsonSans/KelsonSans-BoldRU.eot'),
		   url('../fonts/KelsonSans/KelsonSans-BoldRU.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('../fonts/Lineatura/Lineatura.ttf'),
		   url('../fonts/Lineatura/Lineaturar.eot'),
		   url('../fonts/Lineatura/Lineatura.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria.ttf'),
		   url('../fonts/Geometria/Geometria.eot'),
		   url('../fonts/Geometria/Geometria.woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria/Geometria-Bold.ttf'),
		   url('../fonts/Geometria/Geometria-Bold.eot'),
		   url('../fonts/Geometria/Geometria-Bold.woff');
	font-weight: 700;
}

html {
  height: 100%;
  font: 400 #{16px}/#{1.3} $main-font;
}

body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  display: block;
  // min-width: 375px;
  margin: 0;
  font: inherit;
  font-size: 100%;
  background: none;
  color: $black;
  -webkit-text-size-adjust: none;
  position: relative;
  // background: $main-gray;
}

* {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 250ms;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font: {
    family: $main-font;
    size: rem(14);
  }
}

.container {
  max-width: rem(1210);
  padding: 0 rem(20);
  margin: 0 auto;
  &_small {
    max-width: rem(749);
  }
  &_porto_small {
    max-width: rem(670);
  }
  &_resto_small {
    max-width: rem(1010);
  }
}

.info-container {
  background: url('../img/manufactura/info-bg.png') no-repeat center center;
  background-size: cover;
  @media (max-width: 540px) {
    padding: rem(20 0);
  }
  &_porto {
    background-image: url('../img/porto/methods-bg.jpg');
  }
  &_resto {
    background-image: none;
    background-color: $light-gray;
  }
}

h1 {
  font: {
    size: rem(48);
    family: $head-font;
    weight: 700;
  }
  color: #fff;
  line-height: 1.25;
  margin: 0;
  text: {
    transform: uppercase;
    align: center;
  }
  @media (max-width: 768px) {
    font-size: rem(40);
  }
}

h2 {
  font: {
    size: rem(36);
    family: $head-font;
    weight: 400;
  }
  line-height: 1.3;
  margin: 0 0 rem(45) 0;
  text: {
    transform: uppercase;
    align: center;
  }
  @media (max-width: 768px) {
    font-size: rem(30);
  }
}

h3 {
  font: {
    size: rem(25);
    family: $head-font;
    weight: 400;
  }
  line-height: 1.4;
  letter-spacing: 0.63px;
  margin: 0 0 rem(40) 0;
  text-transform: uppercase;
  color: #fff;
}

p {
  line-height: 1.875;
  text-align: left;
  margin: 0;
  font-size: rem(16);
  &:not(:last-child) {
    margin-bottom: rem(17);
  }
}

img {
  display: block;
  max-width: 100%;
}

.resto {
  color: $dark-gray;
  h2 {
    font: {
      family: $resto-head-font;
    }
    letter-spacing: 0.9px;
  }
  p {
    font: {
      family: $resto-main-font;
      weight: 400;
    }
  }
  .info__title {
    letter-spacing: 0;
  }
}


// @media (min-width: 1600px) {
//   html {
//     font-size: 18px;
//   }
// }

@media (max-width: 1080px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
}

// @media (max-width: 1080px) {
//   html {
//     font-size: 12px;
//   }
// }

// @media (min-width: 1600px) {
// 	html {
// 		font-size: 20px;
// 	}
// }
//
// @media (min-width: 2000px) {
// 	html {
// 		font-size: 24px;
// 	}
// }

@import "components/header";
@import "components/nav";
@import "components/first-slide";
@import "components/button";
@import "components/landing-nav";
@import "components/coffee";
@import "components/info";
@import "components/reviews";
@import "components/title";
@import "components/news";
@import "components/slick";
@import "components/jobs";
@import "components/accordion";
@import "components/contacts";
@import "components/footer";
@import "components/menu";
@import "components/mobile-menu";
@import "components/burger";
@import "components/parallax";
@import "components/methods";
@import "components/about-us";
@import "components/team-slider";
@import "components/statistics";
@import "components/main-page";
@import "components/restaurants";
