$main-fz: 16px;
$head-font: 'KelsonSansBold', sans-serif;
$main-font: 'PT Mono', sans-serif;

$resto-head-font: 'Lineatura', sans-serif;
$resto-main-font: 'Geometria', sans-serif;

$black: #171717;
$gold: #c79f4a;
$orange: #e1884e;
$light-gray: #ededed;
$gray: #505050;
$dark-gray: #53585a;
$green: #35cf8f;
$bright-green: #80bd01;
$bright-green-2: #8ac33e;

$input-border-color: #c6c6c6;
